body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
	color: #ffffff;
    background-color: #000000;
}
header {
	
nav {
	position: fixed;
	top: 0;
	z-index: 1000;
	background: #000000;
	
}

}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li {
	margin-right: 20rem;
	margin-left: 9rem;
	margin-top: 1rem;
}
nav ul li a {
	text-decoration: none;
	color: #ffffff;
}
section {
    height: 80vh;
    margin-left: 3rem;
}


.cover {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #27302d;
	color: #ffffff;
	height: 50vh;
}
.title {
	font-size: 3rem;
	text-transform: uppercase;
	opacity: 0;
	animation: fadeIn 2s forwards ease-in;
}
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
